Services/bin/
Services/obj/
Model/obj/
DataAccess/obj/
APITest/obj/
DataAccess/bin/
Model/bin/
packages/
APITest/bin/
.vs/
Common/bin/
Common/obj/
DataAccessTest/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
DataAccessTest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
DataAccessTest/bin/
DataAccessTest/obj/
ServicesTest/bin/
ServicesTest/obj/project.assets.json
ServicesTest/obj/
API/obj/
API/bin/
SPA/jQuery/
SPA/OpenLayers-2.13.1/.gitignore
SPA/OpenLayers-2.13.1/
