<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Dev" connectionString="data source=.\sqlExpress;initial catalog=Dev;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ImagePath" value="c:\\SUF_imgs" />
  </appSettings>
</configuration>